.fund-item{
    display: flex;
    flex-direction: column;

    width: 200px;

    margin: 20px 40px;
    cursor: pointer;
}

.fund-item-img-wrapper{
    width: 100%;
    height: 210px;
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 15px;
}

.fund-item-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fund-item-content{
    width: 100%;
}

.fund-item-category{
    font-size: 1rem;
    margin-bottom: 20px;
}

.fund-item-title{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.fund-item-description{
    font-size: 1rem;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.fund-item-progress{
    display: flex;
    flex-direction: column;
    
}

.fund-item-progress-detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.fund-item-progress-detail > span > span:first-child{
    color: red;
}

.fund-item-progress-bar{
    width: 100%;
    height: 3px;
    background-color: red;
    border-radius: 5px;
}

.fund-header{
    width: 80%;
    margin: 0 auto;
}

.fund-header-sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fund-header-upload{
    width: 130px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #B5D692;
    color: #f5f5f5;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

    border-radius: 5px;
}


.fund-header-input{
    width: 200px;
    padding: 13px 40px;
    background-color: #F5F5F5;

    border: 1px solid #000;
    border-radius: 20px;    
}

.fund-count{
    color: red;
}

.fund-navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(60, 179, 114, 0.1);

    margin-bottom: 20px;

    border-radius: 5px;
}
.fund-navbar > div{
    font-size: 1rem;
    
}


.fund-navbar-category{
    width: 31%;
    font-size: 1rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

.fund-navbar-sorting{
    width: 69%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.fund-navbar-sorting > div {
    cursor: pointer;
    text-align: center;
    width: 33%;
    padding-top: 17px;
    padding-bottom: 17px;
}

.fund-navbar-sorting-item.active{
    background-color: rgba(0, 0, 0, 0.5);
}

.fund-footer{
    text-align: center;
}
.fund-footer ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
.fund-footer a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
}

/* ONE */

.fund-footer a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.fund-footer a.is-active{
    background-color: #2ecc71;
    border-radius: 100%;
    color: #fff;
}