.fund-regist {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px auto;
    max-width: 900px;
    width: 80%;
}

.fund-regist-header {
    width: 50%;
    height: 80px;
    line-height: 80px;
    background-color: #B5D692;
    color: white;
    font-size: 2rem;
    margin: 0 auto;
}

.main-image-select {
    margin: 20px 0;
}

.fund-info {
    height: 700px;
    background-color: #F5F5F5;
    margin: 20px 0;
    padding: 50px 150px;
}

.fund-info>div {
    margin: 20px 0;
}

.fund-info-name,
.fund-target-amount,
.fund-supporting-amount,
.fund-close-date {
    display: flex;
}

.fund-info-type1 {
    width: 30%;
    height: 40px;
    line-height: 40px;
    background-color: #D9D9D9;
    border: 1px solid gray;
    text-align: center;
}

.fund-info-type2 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #D9D9D9;
    border: 1px solid gray;
    text-align: center;
}

.fund-regist input {
    width: 70%;
    font-size: 1rem;
    padding: 0 10px;
}

.fund-info-type select {
    width: 50%;
    height: 40px;
    font-size: 1rem;
    padding: 10px;
}

.fund-ment {
    margin: 20px 0;
}

.datePicker {
    height: 40px;
}

.react-datepicker-wrapper {
    width: 36%;
}

.fund-introduction textarea {
    width: 96.8%;
    height: 250px;
    font-size: 1rem;
    padding: 10px;
}

.imgupload-form-imgzone img {
    width: 400px;
    height: auto;
}

.main-image-select {
    margin: 10px auto;
}

.quill {
    height: 250px;
    overflow: hidden;
}