.mypage-nav{
  border : 2px solid #D9D9D9;
  border-radius: 1rem;
  width : 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height : 85vh;
  justify-content: space-evenly;
  margin-left: 1vw;
}
.mypage-imgwrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
  height: 8vw;
  border: 2px solid #D9D9D9;
  border-radius: 100%;
  overflow: hidden; 
  margin-bottom: 1vh;
}
.tree-profileimg img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.mypage-nav > button{
  border : none;
  background-color: #D9D9D9;
  padding : 0.8em;
  border-radius: 0.4rem;
  color : #FFFFFF;
  font-weight: bold;
}
.mypage-nav-page{
  display: flex;
  flex-direction: column;
  height : 10vh;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.mypage-nav-page > span {
  cursor: pointer;
}
.mypage-nav-page > span.selected {
  border-bottom: 2px solid black;
  font-weight: bold;
}
.mypage-nav-user{
  display : flex;
  flex-direction: column;
  height : 8vh;
  justify-content: space-between;
  align-items: center;
  border-top : 2px solid #D9D9D9;
  padding-top : 2vh;
}

/* ModifyInfo Component */
.mypage-nav-modifyinfo > #header{
  padding : 1vh 1vw;
}
.mypage-nav-modifyinfo > #content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mypage-nav-modifyinfo-button{
  display: flex;
  width : 40vw;
  justify-content: space-between;
  margin-top: 2vh;
}
.mypage-nav-modifyinfo-button > button{
  border : none;
  border-radius: 1rem;
  padding : 0.8em;
  border : 1px solid #D9D9D9;
  margin-bottom: 2vh;
}
.mypage-nav-modifyinfo-button > button:hover{
  background-color: #d9d9d9be;
}
.mypage-nav-modifyinfo-modifyInput{
  display: flex;
  width : 35vw;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}
.mypage-nav-modifyinfo-modifyInput > button{ 
  border : none;
  border-radius: 0.5rem;
  padding : 0.4em 0.8em;
}